{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="section-top">
		<img src="{% static 'img/slider0.jpg' %}" class="img-responsive">
	</div>
	<div class="section section1 vegetables-container">
		<div class="container">
			<div class="row">
				<h1 class="text-center">
					Овощи
                </h1>
				{% for product_image in products_images_vegetables %}
					{% include 'landing/product_item.html' %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="section section-delivery">
		<div>
			<h3>Free shipping</h3>
		</div>
	</div>
	<div class="section section2 fruits-container">
	<div class="container">
		<div class="row">
			<h1 class="text-center">
				Фрукты
			</h1>
			{% for product_image in products_images_fruits %}
				{% include 'landing/product_item.html' %}
			{% endfor %}
		</div>
	</div>
	</div>
	<div class="section section3 meat-container">
	<div class="container">
		<div class="row">
			<h1 class="text-center">
				Мясо
			</h1>
			{% for product_image in products_images_meat %}
				{% include 'landing/product_item.html' %}
			{% endfor %}
		</div>
	</div>
	</div>

{% endblock content %}