html, body{
	height: 100%;
	max-height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #edeef0;
}

.section-top{
	margin: 20px;
}

.product-item{
	height: 480px;
	background-color: white;
	border: 1px solid lightgrey;
	position: relative;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
}

.add-to-card-btn{
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
}

.footer{
	background-color: white;
	height: 200px;
}

.discount {
	position: absolute;
	top: 5%;
	left: 0%;
    background: #eb5e58;
    border-radius: 0 4px 4px 0;
    color: #fff;
    display: inline-block;
    float: left;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    
    padding: 3px 5px;
}